* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
}
body {
  height: 100vh;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(
      to bottom left,
      rgba(255, 255, 255, 0.6),
      transparent 60%,
      rgba(0, 0, 0, 0.6)
    ),
    linear-gradient(to top left, #a0d3e4, #97d1e7);
}
