* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(
      to bottom left,
      rgba(255, 255, 255, 0.6),
      transparent 60%,
      rgba(0, 0, 0, 0.6)
    ),
    linear-gradient(to top left, #a0d3e4, #97d1e7);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #434753;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #434753;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}
